:root { 
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #232323;
  --bg-secondary: #141418;
  --gray: #34495e;
  --darkgray: #2c3e50;
}

a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}


/* Flexbox CSS */
.flexbox{
  display: flex;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.none{
  display: none;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.align-items-center{
  align-items: center;
}

.align-items-end{
  align-items: flex-end;
}

.align-items-start{
  align-items: flex-start;
}

.align-content-center{
  align-content: center;
}

.align-content-end{
  align-content: flex-end;
}

.align-content-start{
  align-content: flex-start;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-end{
  justify-content: flex-end;
}

.justify-content-start{
  justify-content: flex-start;
}
.justify-content-space-between{
  justify-content: space-between;
}


.justify-items-center{
  justify-items: center;
}

.justify-items-end{
  justify-items: flex-end;
}

.justify-items-start{
  justify-items: flex-start;
}


.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-3 {
  flex-grow: 3;
}
.flex-grow-4 {
  flex-grow: 4;
}

.gap-05{
  gap: 0.5rem;
}
.gap-1{
  gap: 1rem;
}
.gap-15{
  gap: 1.5rem;
}
.gap-2{
  gap: 2rem;
}
.gap-25{
  gap: 2.5rem;
}
.gap-3{
  gap: 3rem;
}


/* Grid Box - CSS */

.grid{
  display: grid;
}

.grid-columns-1{
  grid-template-columns: 1fr;
}
.grid-columns-2{
  grid-template-columns: 1fr 1fr;
}
.grid-columns-3{
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-columns-4{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-columns-5{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


/* Media Query */

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .grid-columns-tablet-1 {
    grid-template-columns: 1fr;
  }
  .grid-columns-tablet-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .grid-columns-mobile-1 {
    grid-template-columns: 1fr;
  }
  .grid-columns-mobile-2 {
    grid-template-columns: 1fr 1fr;
  }
}



.product-image{
  max-height: 300px;
}